* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ffc6b9, #ffa693);
}

.card {
    width: 320px;
    height: 400px;
    perspective: 1000px;
}

.card .front-face {
    background: url('../img/mrinmoy.png');
}

.card .back-face {
    transform: rotateY(180deg);
    background: url('../img/back-face.jpg');
}

.card .front-face,
.card .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    transition: .7s cubic-bezier(.4, .2, .2, 1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.card .back-face h2 {
    color: #e74723;
    font-size: 32px;
    margin-top: 45%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.card .back-face p {
    color: #f1f1f1;
    font-size: 18px;
}

.card .icons {
    margin-top: 20px;
}

.card .icons i {
    cursor: pointer;
    margin: 0 5px;
    color: #e74723;
    background: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 50%;
    transition: .3s;
}

.card .icons i:hover {
    color: #fff;
    background: #e74723;
}

.card .back-face .contact {
    background: #e74723;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    /* border: 1.75px solid #fff; */
    border-style: none;
}

.card .back-face .contact a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 15px;
    padding: 4px;
}

.card .back-face .contact:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: .5s;
}

.card:hover>.back-face {
    transform: rotateY(0);
}

.card:hover>.front-face {
    transform: rotateY(-180deg);
}


/* Pre-Loader */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffc6b9, #ffa693);
}

.loader .loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

.loader span {
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}

.loader span:nth-child(1) {
    background: #19a6bc;
    animation-delay: .5s;
}

.loader span:nth-child(2) {
    background: #f63d3a;
    animation-delay: 1s;
}

.loader span:nth-child(3) {
    background: #f0a543;
    animation-delay: 1.5s;
}

.loader span:nth-child(4) {
    background: #193848;
    animation-delay: 2s;
}

/* social-icons */
.social-menu {
    position: relative;
    width: 280px;
    height: 280px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-menu .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    transition: 1.25s;
    z-index: 1000;
}

.social-menu.active .toggle {
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.social-menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: .5s;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 140px;
    scale: 0;
    transition-delay: calc(0.05s * var(--i));
}

.social-menu.active li {
    scale: 1;
}

.social-menu li a {
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/-8 * var(--i)));
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.75em;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.social-menu li:hover a {
    font-size: 2.5em;
    box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}


@keyframes loading {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: translate(80px);
    }

    50% {
        transform: translate(80px, 80px);
    }

    75% {
        transform: translate(0, 80px);
    }
}

.loader.fadeOut {
    animation: fadeOut 1s alternate;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}